fastapi[all]
uvicorn
google-cloud-translate
python-jose
pymongo
motor
python-dotenv
bcrypt==4.1.2
passlib==1.7.4
pyjwt
openai
python-docx
PyPDF2
reportlab
requests
pymupdf
pdfminer.six
pdf2image
pytesseract
tiktoken
pillow