@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
.font-serif {
  font-family: 'Merriweather', serif;
}
:root {
  --brand-dark:  #2C2C4A;   /* navy-charcoal */
  --accent-dark: #C17829;   /* burnt-amber  */
  --accent-light:#f7ede1;   /* soft-peach   */
}
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari, and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Internet Explorer, Edge, and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}

